# Локальный PostgreSQL
PG_CONNECTION_STRING="Host=localhost;Port=5432;Database=bergdb;Username=postgres;Password=change_me;SSL Mode=Disable"

# PostgreSQL на хостинге
PG_HOSTING_CONNECTION_STRING="Host=hosting.example.com;Port=5432;Database=bergdb;Username=berg_user;Password=change_me;SSL Mode=Require"
