# Copy this file to ~/berg-transfer/restore.env and restrict access:
#   chmod 600 ~/berg-transfer/restore.env

PGHOST=pg4.sweb.ru
PGPORT=5433
PGDATABASE=change_me
PGUSER=change_me

# Prefer ~/.pgpass. If necessary, PGPASSWORD may be specified here.
# PGPASSWORD=change_me
PGPASSFILE="$HOME/.pgpass"

PGSSLMODE=verify-full
PGSSLROOTCERT=system
PGCONNECT_TIMEOUT=15
PGCLIENTENCODING=UTF8

# PostgreSQL client binaries are not currently available through PATH on the host.
PG_RESTORE=/usr/lib64/postgresql-17/bin/pg_restore
PSQL=/usr/lib64/postgresql-17/bin/psql
